// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

$font-family-Profesional:'Arial';
$font-family-Argentina:'sans-serif';
$font-family-Naif:'Helvetica';
$font-family-Custom:'Verdana';

$font-size-Profesional: 1px;
$font-size-Argentina: 20px;
$font-size-Naif: 40px;
$font-size-Custom: 80px;

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$alert-md-background-color: #14CB5C; //this makes "black" the background
$alert-md-button-text-color: #135216; //it makes green the buttons, and the selected element


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Paleta de colores en la tonalidad de verdes, azul y piel

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  verde:      green,
  celeste:    lightblue,
  rosa:       pink,
  marron:     brown,
  naranja:    orange,
  camel:      #AE863D,
  cemento:    #E7D6D6,
  muro:       #A4A0A0

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$button-Profesional: color($colors,naranja);
$button-Profesional1: color($colors,naranja);
$button-Argentina: color($colors,light);
$button-Argentina1: color($colors,light);
$button-Naif: color($colors,muro);
$button-Naif1: color($colors,muro);
$button-Custom: color($colors,verde);
$button-Custom1: color($colors,verde);


$titulo-Profesional: color($colors,naranja);
$titulo-Argentina: color($colors,light);
$titulo-Naif: color($colors,muro);
$titulo-Custom: color($colors,verde);

$itemProfesional: color($colors,verde);
$itemArgentina: color($colors,celeste);
$itemNaif: color($colors,cemento);
$itemCustom: color($colors,verde);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$background-Profesional: color($colors, verde);

$background-Argentina: color($colors, celeste);

$background-Naif: color($colors, rosa);

$background-Custom: color($colors, marron);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
