page-configu {
    
       
    
    .fondoProfesional {

        background-color: $background-Profesional;
        
        }    
     
    .fondoArgentina {
         
        background-color: $background-Argentina;

        }
     
    .fondoNaif {
    
        background-color: $background-Naif;
    
        }
     
    .botonProfesional {
     
         background-color: $button-Profesional;
         font-family: $font-family-Profesional;
         font-size: 20px;
         position:absolute;
         width: 50%;
         height: 10%;
         top:60%;
         left:40%;
        }

    .botonguardar {
     
        background-color: darkgrey;
        font-family: sans-serif;
        font-size: 15px;
        position:absolute;
        width: 25%;
        height: 10%;
        top:60%;
        left:5%;
        }
        
    .botonProfesional1 {
     
        background-color: $button-Profesional;
        font-family: $font-family-Profesional;
        font-size: 20px;
        position:absolute;
        width: 50%;
        height: 10%;
        top:75%;
        left:40%;
           }

     
    .botonArgentina {
         background-color: $button-Argentina;
         font-family: $font-family-Argentina;
         font-size: 30px;
         position:absolute;
         width: 50%;
         height: 10%;
         top:53%;
         left:40%;
         border-radius: 43px;
        }
    .botonArgentina1 {
            background-color: $button-Argentina;
            font-family: $font-family-Argentina;
            font-size: 30px;
            position:absolute;
            width: 50%;
            height: 10%;
            top:75%;
            left:40%;
            border-radius: 43px;
           }
     
    .botonNaif {
         background-color: $button-Naif;
         font-family: $font-family-Naif;
         font-size: 15px;
         position:absolute;
         width: 50%;
         height: 10%;
         top:53%;
         left:40%;
         border-radius: 20px;
        }
    .botonNaif1 {
            background-color: $button-Naif;
            font-family: $font-family-Naif;
            font-size: 15px;
            position:absolute;
            width: 50%;
            height: 10%;
            top:75%;
            left:40%;
            border-radius: 20px;
           }
     
        
    .botongrilla {
     
         background-color: lightgreen;
         color: #E83714;
     
        }
     
    .pie {
         background-color: lightgreen;
        }
     
    .tituloProfesional {
     
         background-color: $titulo-Profesional;
         position: absolute;
         top: 0;
         left: 0;
         padding: 0 90px 1px;
         width: 100%;
         height: 100%;
         text-align: center;
         font-family: $font-family-Profesional;
         font-size: $font-size-Profesional;
        }
    .tituloProfesional1 {
     
            background-color: $titulo-Profesional;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 90px 1px;
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: $font-family-Profesional;
            font-size: $font-size-Profesional;
           }
     
    .tituloArgentina {
         
             background-color: $titulo-Argentina;
             position: absolute;
             top: 0;
             left: 0;
             padding: 0 90px 1px;
             width: 100%;
             height: 100%;
             text-align: center;
             font-family: $font-family-Argentina;
             font-size: $font-size-Argentina;
            }
    .tituloArgentina1 {
         
                background-color: $titulo-Argentina;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 90px 1px;
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: $font-family-Argentina;
                font-size: $font-size-Argentina;
               }
     
    .tituloNaif {
             
                 background-color: $titulo-Naif;
                 position: absolute;
                 top: 0;
                 left: 0;
                 padding: 0 90px 1px;
                 width: 100%;
                 height: 100%;
                 text-align: center;
                 font-family: $font-family-Naif;
                 font-size: $font-size-Naif;
                }
    .tituloNaif1 {
             
                    background-color: $titulo-Naif;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0 90px 1px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-family: $font-family-Naif;
                    font-size: $font-size-Naif;
                   }
     
}
