
<ion-header >
    
  <ion-toolbar >
      
    <ion-segment class="{{titulo}}" [(ngModel)]="segmentAlumno" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="qr">
        <img src="assets/imgs/qr.png" width="40" height="40">
      </ion-segment-button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-segment-button value="perfil">
        <img src="assets/imgs/perfil.jpg" width="40" height="40">
      </ion-segment-button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-segment-button value="archAlumnos">
        <img src="assets/imgs/archAlumnos.png" width="40" height="40">
      </ion-segment-button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-segment-button value="abmProfesores" >
          <img  *ngIf="perfil=='administrador' || perfil=='administrativo'"  src="assets/imgs/abm_profesores.jpeg" width="40" height="40">
      </ion-segment-button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-segment-button value="abmAlumnos" >
          <img  *ngIf="perfil=='administrador' || perfil=='administrativo' || perfil=='profesor'"  src="assets/imgs/abm_alumnos.jpg" width="40" height="40">
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content class="{{fondo}}" padding>

 
<div [ngSwitch]="segmentAlumno">

      <lector-qr [perfil]="perfil" *ngSwitchCase="'qr'"></lector-qr>

      <perfil  *ngSwitchCase="'perfil'"
                [nombre]="datos.nombre"
                [correo]="datos.correo"
                [perfil]="datos.perfil"
                [isLoginSocial]="datos.loginSocial"
      ></perfil>

      <files *ngSwitchCase="'archAlumnos'"></files>

    <div *ngIf="perfil=='administrador'  || perfil=='administrativo'">
      <lista-profesores *ngSwitchCase="'abmProfesores'"></lista-profesores>
    </div >

    <div *ngIf="perfil=='administrador'  || perfil=='administrativo' || perfil=='profesor'">
      <lista-alumnos [perfil]="datos.perfil" *ngSwitchCase="'abmAlumnos'"
                     [correo]="datos.correo"
                     [nombre]="datos.nombre"
      ></lista-alumnos>

      
    </div >



</div>

</ion-content>


